# Environment variables
backend/.env

# Other common files to ignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.idea/
.vscode/
*.log
.DS_Store
.env
